replicaCout: 2

image:
  repository: nikhilpurva/nginx
  tag: "v1.0.7"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 120m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi